<!-- Check if Users data is available before rendering the list -->

<button (click)="AddUser()">ADD User</button>

<ul >
  <li *ngFor="let user of Users">
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Place:</strong> {{ user.place }}</p>
    <p><strong>ID:</strong> {{ user.id }}</p>
    <p><strong>Password:</strong> {{ user.password }}</p>
    <button (click)="DeleteUser(user.id)">delete User</button>
    <button (click)="edit(user.id)">Edit</button>


    <hr>
  </li>
</ul>
